/* ParkingList.css */
.ParkingList {
  margin: 2rem auto;
  width: 80%;
  max-width: 1200px;
}

.ParkingList ul {
  list-style: none;
  padding: 0;
}

.ParkingList li {
  background-color: white;
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.ParkingList li span {
  font-size: 1.2rem;
  font-weight: bold;
}
